<html lang="en">
<head>
  <title>WebSOA Project</title>
  <!-- Having this script in the header prevents FOUC -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<!--/*@thymesVar id="request" type="websoa.payment.daos.PaymentRequest"*/-->
<div class="flex min-h-screen w-full flex-col items-center bg-gray-100">
  <h1 class="my-6 text-xl">Pending payment requests</h1>
  <ul class="w-96 divide-y divide-gray-200 rounded-lg bg-white">
    <li th:each="request : ${requests}" class="flex flex-row items-center gap-2 px-2 py-4">
      <div th:text="${request.id}" class="flex-grow"></div>
      <button class="rounded-lg bg-green-200 p-2">Accept</button>
      <button class="rounded-lg bg-red-200 p-2">Reject</button>
    </li>
  </ul>
</div>
</body>
</html>
