<!DOCTYPE html>
<html>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Buy tickets</title>
</head>
<body>
<div
  <div th:switch="${tickets}" class="container">
    <h2 th:case="null">No tickets available!</h2> <!-- TODO make nice page -->
    <div th:case="*">
      <h2>Buy tickets!</h2>
      <h2 th:text="'Available tickets for ' + ${event.name} + ' : ' + ${tickets}"></h2>
      <div th:text="'Price: ' + ${event.price}"></div>
      <form th:action="@{events/buy/{id}(id=${event.id})}" method="get">
        <label for="tickets">Number of tickets:</label>
        <input type="number" id="tickets" name="tickets" min="1" max="100" th:max="${tickets}">
        <button type="submit">Buy Tickets</button>
      </form>
    </div>
  </div>
</body>
</html>
