<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Events</title>
  <!-- Having this script in the header prevents FOUC -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="flex min-h-screen w-full flex-col items-center bg-gray-100">
  <h1 class="my-6 text-xl">Events</h1>

  <table>
    <thead>
    <tr>
      <td class="pl-4 pb-4 font-semibold">Name</td>
      <td class="pb-4 font-semibold">Price</td>
      <td></td>
    </tr>
    </thead>
    <tbody class="divide-y divide-gray-300">
    <tr th:each="event: ${events}">
      <td class="pl-4 pr-8">
        <div th:text="${event.name}"></div>
        <div th:text="|${event.tickets} tickets|" class="text-xs text-gray-700"></div>
      </td>
      <td th:text="|&euro; ${#numbers.formatDecimal(event.price, 1, 2)}|" class="pr-8 text-right"></td>
      <td class="py-4 pr-4">
        <a th:href="|/events/order/${event.id}|" class="rounded-lg bg-green-200 p-2 text-green-900">Buy now!</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
