<!DOCTYPE html>
<html>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Events</title>
</head>
<body>
<div
  <div th:switch="${events}" class="container">
    <h2 th:case="null">No events yet!</h2>
    <div th:case="*">
      <h2>Events</h2>
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Tickets</th>
          <th>Price</th>
          <th>Buy Tickets</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${events}">
          <td th:text="${event.name}"></td>
          <td th:text="${event.tickets}"></td>
          <td th:text="${event.price}"></td>
          <td><a th:href="@{events/order/{id}(id=${event.id})}"><button>Buy Tickets</button></a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
